body {
    background-image: url('c:\Users\aluno.saolucas\Downloads\eurogamer-e05hlt.webp');
    background-size: 160%;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#titulo {
    text-align: center;
    font-family: 'Honk', sans-serif;
    font-size: 80px;
    color: white;
    margin-top: 5%;
}

#quantidadeelista {
    text-align: center;
    background-color: rgba(2, 2, 252, 0.4);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: white;
    width: 50%;
}

#botao {
    background-color: rgb(7, 46, 173);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 30px;
    margin: 15px;
    color: white;
    font-family: 'Seymour One', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botao:hover {
    background-color: rgb(5, 44, 116);
}
