body {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/10692828-sem-costura-padrao-com-pontos-de-interrogacao-em-preto-e-branco-vetor.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive; 
}

#entrada {
    text-align: center;
    background-color: rgba(105, 153, 226, 0.5);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    max-width: 600px;
    margin: auto; 
    margin-top: 50px; 
}

#adivinhar {
    background-color: rgb(5, 44, 104);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 30px;
    margin: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#adivinhar:hover {
    background-color: rgb(9, 19, 107);
    transform: scale(1.05);
}

#digitar {
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    width: calc(100% - 70px);
}

#instrucao {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(255, 0, 0); 
}

#saudacao {
    text-align: center;
    font-size: 60px;
    color: rgb(255, 0, 0); 
    font-weight: bold;
    margin: 20px 0; 
    width: 100%;
}

#mensagem {
    font-size: 24px;
    margin-top: 20px;
    transition: color 0.3s; /* muda a cor do texto */
}

@media (max-width: 768px) {
    #entrada {
        width: 90%;
    }

    #saudacao {
        font-size: 40px;
    }
}